[submodule "Desktop/Uni/Sophomore year/Semester 1/EC 327/registration project/.cargo/git/checkouts/wasm-gc-d84f174ed78190a0/deb1c6d"]
	path = Desktop/Uni/Sophomore year/Semester 1/EC 327/registration project/.cargo/git/checkouts/wasm-gc-d84f174ed78190a0/deb1c6d
	url = https://github.com/user04f8/registration-magic
